learning
backup
project/blog/obj
project/node_modules
project/v8-compile-cache-0
project/backup
project/test
project/api/env.php
project/counter.txt
project/bundle.js
project/bundle.js.map
project/npm-debug.log
project/api/upload/*
project/src/experiments
project/src/assets/img/gallery
project/.awcache/
project/.vscode
var/*
.vscode
.git
